body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

nav {
    background-color: #f5f5f5;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    text-align: left;
    line-height: 1.8;
}

.foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    margin-right: 50px;
}

.gambar {
    width: 100%;
    max-width: 600px;
    border-radius: 100px;
    margin: 100px 0;
}

.profil {
    display: flex;
    align-items: center;
}


.gambar-artikel {
    width: 400px;
    height: 300px;
    border-radius: 0;
    margin-left: 60px;
}   
  
footer {
    text-align: center;
    padding: 15px;
    border-top: 1px solid #ddd;
    color: gray;
}